
/*NAVBAR*/

#drf a{
   color: #f63;
}
#drf a:hover{
    color: #fec503;
}

.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #f63;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #f63;
  border-color: #f63;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #f63;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fec503;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #f63;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
#mainNav{
   background-color: #222222; 
   
}
#solefit{
font-size: 20px;
}













.mycontainer{
    margin: 0 auto;
    margin-top: 220px;
    padding: 0px 200px;
}

#the-basics{
font-size: 2em;
padding: 0px 100px;
}

#the-basics input{
    border-radius: 5px;
}
#the-basics {
/*    background-color: #fff;*/
    border: none;
    font-size: 17px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
/*    padding: 10px;*/
    margin-left: 10px;
    width: 70px;
}

.btn-primary,.btn{
    background-color: #f63;
    border: none;
    font-size: 15px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -65px;
    margin-left:245px;
    width: 40px;
}


@media(max-width:400px){
    .mycontainer{
        float:left;
        font-size: 20px;
        padding-left: 0;
        margin-left: 0;
        margin-top: -8px;
        max-width: 270px;
        width: 270px;
        
    }
    #the-basics{
    font-size: 1em;
    max-width: 270px;
        padding: 0px;
}
    #the-basics a{
         font-size: 15px;
        padding:5px 0;
        margin-top: 5px;
        width: 30px;
    }
    #the-basics .typeahead{
        max-width: 150px;
        font-size: 12px;
    }
    #the-basics .btn-primary{
        padding-left: -20px;
        margin-left: 170px;
    }
    div .jumbotron{
        width: 270px;
        margin-left: 10px;
        border-radius: 5px;
    }
    
    
    
}














/*FOOTER*/

footer {
  padding: 20px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

@media(max-width:400px){
    footer{
        max-width: 250px;
}
    footer span.copyright{
        max-width: 250px;
    }
}