@import '//fonts.googleapis.com/css?family=Cutive';

$font-family-base: 'Cutive', serif;;
$font-size-root: 14px;
$font-size-base: 1rem;
$line-height-base: 1.4;

$color-black: #222;
$color-white: #ededed;
$color-red: #c92b2b;

$spacing: 2rem;
$spacing-large: $spacing * 3;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: $font-size-root;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-black;
  background-color: $color-white;
  transition:
    background-color 150ms ease-out,
    color 150ms ease-out;
}

.dark {
  color: $color-white;
  background-color: $color-black;
}



.scene {
  padding: $spacing-large $spacing;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Cutive', serif;
    margin-left: 200px;
}

.scene img{
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}



.actor {
  font-size: 3.3rem;
  display: flex;
  margin-bottom: $spacing;
  font-family: 'Cutive', serif;
  &:last-of-type {
    margin-bottom: $spacing-large;
  }
}

@media(max-width:400px){
    .scene{
        float: left;
        width: 300px;
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 10px;
    }
    .scene img{
        float: none;
    }
    .actor{
        font-size: 1.5em;
    }
}


.actor__content {
  flex-grow: 1;
  font-family: 'Cutive', serif;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.actor__content--typing::after {
  content: '|';
  animation: blink 500ms infinite;
}