
/*NAVBAR*/

#fitz a{
   color: #f63;
}
#fitz a:hover{
    color: #fec503;
}

.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #f63;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #f63;
  border-color: #f63;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #f63;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fec503;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #f63;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #f63;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
#mainNav{
   background-color: #222222; 
   
}
#solefit{
font-size: 20px;
}









 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
          text-align: center;
      }
      table {
        font-size: 12px;
      }
      #map {
        width: 100%;
          margin-top: 5px;
      }
      #listing {
        position: absolute;
        width: 200px;
        height: 470px;
        overflow: auto;
        left: 442px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
      }
      #findhotels {
        position: absolute;
        text-align: right;
/*        width: 100px;*/
        font-size: 17px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
           font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #f63;
          margin-top: -30px;
      }
      #locationField {
        position: absolute;
        width: 190px;
        height: 25px;
        left: 190px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
          margin-top: 72px;
      }
      #controls {
        position: absolute;
        left: 385px;
        width: 140px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
          margin-top: 72px;
          
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
          height: 25px;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }

#listing{
    margin-left: 1000px;
}
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
           margin-top: 99px;
          text-align: center;
          float:none;
          margin-left: 1000px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }

@media(max-width:400px){
    #map{
        width: 270px;
        margin-top: 80px;
     
    }

    #locationField{
        height: 15px;
        width: 200px;
        display: inline;
        margin-top: 100px;
        margin-left: -100px;
    }
    #findhotels{
        display: inline;
        float: left;
        margin-left: -140px;
    }
    #controls{
         margin-top: 130px;
        margin-left: -290px;
    }
}














/*FOOTER*/

footer {
  padding: 20px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}